:root {
    
    --background-color: white;
    --text-color-primary: #000;
    --text-color-secondary:#979797;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --text-color-accent:#8ea0ff;
    --highlight-color:#8ea0ff;
    --tag-background: #E5FFF7;
    --tag-text: #608379;
    --secondary-font: 'Switzer-Regular', 'Open Sans', 'Helvetica Neue', sans-serif;
    --mono-font: 'JetBrainsMono-Regular';
    --background-navbar: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));/* Keep the same or change as needed */
}


@media (prefers-color-scheme: dark) {
    :root {
      --background-color: #121212;
      --text-color-primary: #e0e0e0;
      --box-shadow: 0 4px 6px rgba(255, 255, 255, 0.5);
      --link-color: #bb86fc;
      --highlight-color:#bb86fc; /* Keep the same or change as needed */
      --nav-background: #1f1f1f;  
      --nav-text-color: #e0e0e0;
      --tag-background: #a28abf;
      --tag-text: #e0e0e0;
      --background-navbar: linear-gradient(to bottom, rgba(18, 18, 18, 1),rgba(18, 18, 18,1),rgba(18, 18, 18, 1),rgba(18, 18, 18, 0.8),rgba(18, 18, 18, 0));
    }
  }
  
@font-face {
    font-family: 'Switzer-Semibold';
    src: url('../fonts/Switzer-Semibold.woff2') format('woff2'),
         url('../fonts/Switzer-Semibold.woff') format('woff'),
         url('../fonts/Switzer-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Switzer-Regular';
    src: url('../fonts/Switzer-Regular.woff2') format('woff2'),
         url('../fonts/Switzer-Regular.woff') format('woff'),
         url('../fonts/Switzer-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }