.container {
    margin: auto;
    max-width: 500px;
  }

  .container {
    margin: auto;
    max-width: 500px;
    
  }
  
  .heading {
    
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
  }
  /* Define a variable for the translation distance */
  :root {
    --translate-distance: 10px;
  }
  
  .nav-link:hover ~ .nav-link {
    transform: translateX(var(--translate-distance));
  }
  
  .nav-link:nth-child(1):hover {
    transform: translateX(- var(--translate-distance));
  }
  
  .nav-link:nth-child(1):hover ~ .nav-link {
    transform: translateX(var(--translate-distance));
  }
  
  .nav-link:nth-child(2):hover {
    transform: translateX(-var(--translate-distance));
  }
  
  .nav-link:nth-child(2):hover ~ .nav-link:nth-child(3) {
    transform: translateX(var(--translate-distance));
  }
  
  .nav-link:nth-child(3):hover,
  .nav-link:nth-child(3):hover ~ .nav-link {
    transform: translateX(-var(--translate-distance));
  }